<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<%= render "comment/hear" %>
<div class="center">
<div class="classify">
<h2>旅游产品分类</h2>
<ul>
<li class="has_move">
  <dl class="classify_list">
    <dt class="classify_list_gat">
      <i></i>
      <a target="_blank" href="#">港澳旅游</a>
    </dt>
    <dd>
      <a target="_blank" href="#">香港</a>
    </dd>
  </dl>
  <div class="subNav_box">
    <div class="subNav_subbox">
      <div class="subNav_boxLe">
        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">香港旅游</a>
          </dt>
          <dd class="fn-left">

            <a title="香港品质纯玩" target="_blank" href="#">香港品质纯玩</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">澳门旅游</a>
          </dt>
          <dd class="fn-left">

            <a title="主教山" target="_blank" href="#">主教山</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">港澳旅游</a>
          </dt>
          <dd class="fn-left">

            <a title="港澳品质纯玩" target="_blank" href="#">港澳品质纯玩</a>

          </dd>

          <div class="clear"></div>
        </dl>

      </div>

      <div class="subNav_boxRi">
        <a class="subNav_boxRi_close" href="javascript:;"></a>


        <dl>
          <dt>国旅推荐：</dt>
          <dd>
            <a target="_blank" title="泰国旅游" href="#">泰国旅游</a>
          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt>国旅品牌：</dt>
          <dd>
            <a target="_blank" title="国旅荣誉" href="#">国旅荣誉</a>
            <a target="_blank" title="关于我们" href="#">关于我们</a>
            <a target="_blank" title="商务合作" href="#">商务合作</a>
            <a target="_blank" title="旅游资质" href="#">旅游资质</a>
          </dd>
          <div class="clear"></div>
        </dl>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/hk001.gif">
          </a>
        </p>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/jiuzhagou.gif">
          </a>
        </p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</li>

<li class="has_move">
  <dl class="classify_list">
    <dt class="classify_list_cjy">
      <i></i>
      <a target="_blank" href="#">出境旅游</a>
    </dt>

    <dd>
      <a target="_blank" href="#">泰国</a>

    </dd>
  </dl>

  <div class="subNav_box" style="display: none;">
    <div class="subNav_subbox">
      <div class="subNav_boxLe">
        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">东南亚</a>
          </dt>
          <dd class="fn-left">

            <a title="普吉岛" target="_blank" href="#">普吉岛</a>

          </dd>
          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">日韩</a>
          </dt>
          <dd class="fn-left">

            <a title="日本" target="_blank" href="#">日本</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">非洲</a>
          </dt>
          <dd class="fn-left">

            <a title="肯尼亚" target="_blank" href="#">肯尼亚</a>

          </dd>
          <div class="clear"></div>
        </dl>
        <dl>
          <dt class="fn-left">
            <a href="http://www.xkcits.com/#" target="_blank">澳洲</a>
          </dt>
          <dd class="fn-left">

            <a title="澳大利亚" target="_blank" href="#">澳大利亚</a>

          </dd>
          <div class="clear"></div>
        </dl>
        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">美洲</a>
          </dt>
          <dd class="fn-left">

            <a title="加拿大" target="_blank" href="#">加拿大</a>

          </dd>
          <div class="clear"></div>
        </dl>
        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">欧洲</a>
          </dt>
          <dd class="fn-left">

            <a title="意大利" target="_blank" href="#">意大利</a>

          </dd>
          <div class="clear"></div>
        </dl>
      </div>
      <div class="subNav_boxRi">
        <a class="subNav_boxRi_close" href="javascript:;"></a>
        <dl>
          <dt>国旅推荐：</dt>
          <dd>
            <a target="_blank" title="泰国旅游" href="#">泰国旅游</a>
            <a target="_blank" title="酒店预订" href="#">酒店预订</a>
            <a target="_blank" title="签证办理" href="#">签证办理</a>
            <a target="_blank" title="香港美食" href="#">香港美食</a>
          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt>国旅品牌：</dt>
          <dd>
            <a target="_blank" title="国旅荣誉" href="#">国旅荣誉</a>
            <a target="_blank" title="关于我们" href="#">关于我们</a>
            <a target="_blank" title="商务合作" href="#">商务合作</a>
            <a target="_blank" title="旅游资质" href="#">旅游资质</a>
          </dd>
          <div class="clear"></div>
        </dl>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/hk001.gif">
          </a>
        </p>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/jiuzhagou.gif">
          </a>
        </p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</li>

<li class="has_move cur">
  <dl class="classify_list">
    <dt class="classify_list_gny">
      <i></i>
      <a target="_blank" href="#">国内旅游</a>
    </dt>

    <dd>
      <a target="_blank" href="#">海南</a>

    </dd>
  </dl>

  <div class="subNav_box">
    <div class="subNav_subbox">
      <div class="subNav_boxLe">
        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">华东地区</a>
          </dt>
          <dd class="fn-left">

            <a title="上海" target="_blank" href="#">上海</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">华南地区</a>
          </dt>
          <dd class="fn-left">

            <a title="海南" target="_blank" href="#">海南</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">西南地区</a>
          </dt>
          <dd class="fn-left">

            <a title="云南" target="_blank" href="#">云南</a>


          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">华北地区</a>
          </dt>
          <dd class="fn-left">

            <a title="北京" target="_blank" href="#">北京</a>


          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="http://www.xkcits.com/#" target="_blank">华中地区</a>
          </dt>
          <dd class="fn-left">

            <a title="湖南" target="_blank" href="#">湖南</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="http://www.xkcits.com/#" target="_blank">西部地区</a>
          </dt>
          <dd class="fn-left">

            <a title="新疆" target="_blank" href="#">新疆</a>

          </dd>

          <div class="clear"></div>
        </dl>
        <dl>
          <dt class="fn-left">
            <a href="#" target="_blank">东北地区</a>
          </dt>
          <dd class="fn-left">

            <a title="黑龙江" target="_blank" href="#">黑龙江</a>

          </dd>

          <div class="clear"></div>
        </dl>
      </div>

      <div class="subNav_boxRi">
        <a class="subNav_boxRi_close" href="javascript:;"></a>

        <dl>
          <dt>国旅推荐：</dt>
          <dd>
            <a target="_blank" title="泰国旅游" href="#">泰国旅游</a>
            <a target="_blank" title="酒店预订" href="#">酒店预订</a>
            <a target="_blank" title="签证办理" href="#">签证办理</a>
            <a target="_blank" title="香港美食" href="#">香港美食</a>
          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt>国旅品牌：</dt>
          <dd>
            <a target="_blank" title="国旅荣誉" href="#">国旅荣誉</a>
            <a target="_blank" title="关于我们" href="#">关于我们</a>
            <a target="_blank" title="商务合作" href="#">商务合作</a>
            <a target="_blank" title="旅游资质" href="#">旅游资质</a>
          </dd>
          <div class="clear"></div>
        </dl>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/hk001.gif">
          </a>
        </p>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/jiuzhagou.gif">
          </a>
        </p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</li>

<li class="has_move">
  <dl class="classify_list">
    <dt class="classify_list_gdy">
      <i></i>
      <a target="_blank" href="http://www.xkcits.com/#">周边短线</a>
    </dt>

    <dd>
      <a target="_blank" href="#">广州</a>
      <a target="_blank" href="#">深圳</a>
      <a target="_blank" href="#">清远</a>
      <a target="_blank" href="#">台山</a>
      <a target="_blank" href="#">漂流</a>

    </dd>
  </dl>

  <div class="subNav_box" style="display: none;">
    <div class="subNav_subbox">
      <div class="subNav_boxLe">
        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">珠三角</a>
          </dt>
          <dd class="fn-left">

            <a title="深圳" target="_blank" href="#">深圳</a>

          </dd>
          <div class="clear"></div>
        </dl>
        <dl>
          <dt class="fn-left">
            <a target="_blank" href="#">粤东</a>
          </dt>
          <dd class="fn-left">

            <a title="河源" target="_blank" href="#">河源</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="http://www.xkcits.com/#" target="_blank">粤北</a>
          </dt>
          <dd class="fn-left">

            <a title="清远" target="_blank" href="#">清远</a>

          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt class="fn-left">
            <a href="http://www.xkcits.com/#" target="_blank">粤西</a>
          </dt>
          <dd class="fn-left">

            <a title="肇庆" target="_blank" href="#">肇庆</a>

          </dd>

          <div class="clear"></div>
        </dl>

      </div>

      <div class="subNav_boxRi">
        <a class="subNav_boxRi_close" href="javascript:;"></a>

        <dl>
          <dt>国旅推荐：</dt>
          <dd>
            <a target="_blank" title="泰国旅游" href="#">泰国旅游</a>
            <a target="_blank" title="酒店预订" href="#">酒店预订</a>
            <a target="_blank" title="签证办理" href="#">签证办理</a>
            <a target="_blank" title="香港美食" href="#">香港美食</a>
          </dd>

          <div class="clear"></div>
        </dl>

        <dl>
          <dt>国旅品牌：</dt>
          <dd>
            <a target="_blank" title="国旅荣誉" href="#">国旅荣誉</a>
          </dd>
          <div class="clear"></div>
        </dl>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/hk001.gif">
          </a>
        </p>

        <p class="subNav_ad">
          <a target="_blank" href="#">
            <img width="184px" alt="" src="../images/jiuzhagou.gif">
          </a>
        </p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</li>

<li>
  <dl class="classify_list">
    <dt class="classify_list_jdyd">
      <a target="_blank" href="#">酒店预订</a>
    </dt>
    <dd>
      <a target="_blank" href="#">香港</a>
      <a class="no_margin" target="_blank" href="#">北京</a>
    </dd>
  </dl>
</li>

<li>
  <dl class="classify_list">
    <dt class="classify_list_qzy">
      <a target="_blank" href="#">签证旅游</a>
    </dt>
    <dd>
      <a target="_blank" href="#">亚洲</a>
      <a class="no_margin" target="_blank" href="#">美洲</a>
    </dd>
  </dl>
</li>

<li>
  <dl class="classify_list">
    <dt class="classify_list_jxzt">
      <a target="_blank" href="#">精选旅游频道</a>
    </dt>
    <dd>
      <a href="#" target="_blank">港澳游</a>
      <a href="#" target="_blank">马尔代夫</a>

      <a href="#" target="_blank">台湾旅游</a>

    </dd>
  </dl>
</li>
</ul>

</div>
<div class="classify_right">
  <div class="classify_right_top">
    <div class="classify_right_sidebar">
      <% if @member_curr %>
          <p class="travel_tj_price">
            会员：<span><%= @member_curr.name %></span>
          </p>

      <% else %>
          <div>
            <a class="sidebar_register" href="<%= signup_path %>">注 册</a>
            <a class="sidebar_login" href="<%= login_path %>">登 录</a>
          </div>
      <% end %>
      <div class="sidebar_my">
        <div class="sidebar_my_zj">
          <p class="sidebar_my_zj_p"><span>99%</span>满意度</p>

          <p>已有<b class="c_f60">28639</b>人预订出游</p>
        </div>
        <div class="order_play">
          <div class="new_orders">
            <div class="hot_mudd">
              <p class="order_title">
                <a href="#">西藏</a>
                <span>热门目的地</span>
              </p>

              <div class="orders">
                <ul>
                  <li style="overflow: hidden; height: 30px; margin-top: 0px; margin-bottom: 10px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1860***5700</span> 12分钟前预订了
                      <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 2.9764952269368514px; margin-top: 0px; margin-bottom: 0.992165075645616px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1860***5700</span> 22分钟前预订了
                      <a title="香港三日游（海洋+迪士尼+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+迪士尼+自由）品质纯玩团</a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="hot_mudd">
              <p class="order_title">
                <a href="#">香格里拉</a>
                <span>热门目的地</span>
              </p>

              <div class="orders">
                <ul>
                  <li style="overflow: hidden; height: 9.625610882967528px; margin-top: 0px; margin-bottom: 3.1282392923734585px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1501***9016</span> 3分钟前预订了
                      <a title="香港三日游（海洋+杜莎+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+杜莎+自由）品质纯玩团</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 10.431525702318797px; margin-top: 0px; margin-bottom: 3.390154555191922px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1501***9016</span> 5分钟前预订了
                      <a title="香港三日游（海洋+杜莎+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+杜莎+自由）品质纯玩团</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 11px; margin-top: 0px; margin-bottom: 3.574903726577759px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1501***9016</span> 8分钟前预订了
                      <a title="香港三日游（海洋+杜莎+自由）品质纯玩团" target="_blank" href="">香港三日游（海洋+杜莎+自由）品质纯玩团</a>
                    </p>
                  </li>
                </ul>
              </div>
              <div class="clear"></div>
            </div>
            <div class="hot_mudd">
              <p class="order_title">
                <a href="http://www.xkcits.com/#">云南</a>
                <span>热门目的地</span>
              </p>

              <div class="orders">
                <ul>
                  <li>
                    <p>客户 <span>1597***0098</span> 30分钟前预订了
                      <a title="港澳五日游（海洋+迪+杜莎+澳门）品质纯玩团" target="_blank" href="">港澳五日游（海洋+迪+杜莎+澳门）品质纯玩团</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 19.90332044482414px; margin-top: 0px; margin-bottom: 6.634440148274712px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1332***8109</span> 3分钟前预订了
                      <a title="港澳四日游（优质诚信品质游）海洋公园线" target="_blank" href="">港澳四日游（优质诚信品质游）海洋公园线</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 27.24508876075776px; margin-top: 0px; margin-bottom: 9.08169625358592px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1332***8109</span> 3分钟前预订了
                      <a title="港澳四日游（优质诚信品质游）海洋公园线" target="_blank" href="">港澳四日游（优质诚信品质游）海洋公园线</a>
                    </p>
                  </li>

                </ul>
              </div>
            </div>
            <div class="hot_mudd">
              <p class="order_title">
                <a href="http://www.xkcits.com/#">巴厘岛</a>
                <span>热门目的地</span>
              </p>

              <div class="orders">
                <ul>
                  <li style="overflow: hidden; height: 10.142686523274463px; margin-top: 0px; margin-bottom: 3.28987248371479px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1868***7818</span> 13分钟前预订了
                      <a title="香港一日游（维多利亚游轮）品质纯玩团" target="_blank" href="">香港一日游（维多利亚游轮）品质纯玩团</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 26.73586215864882px; margin-top: 0px; margin-bottom: 8.75769535722347px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1868***7818</span> 13分钟前预订了
                      <a title="香港一日游（维多利亚游轮）品质纯玩团" target="_blank" href="">香港一日游（维多利亚游轮）品质纯玩团</a>
                    </p>
                  </li>
                  <li style="overflow: hidden; height: 1.4987049666140777px; margin-top: 0px; margin-bottom: 0.5078495170094328px; padding-top: 0px; padding-bottom: 0px;">
                    <p>客户 <span>1868***7818</span> 13分钟前预订了
                      <a title="香港一日游（维多利亚游轮）品质纯玩团" target="_blank" href="">香港一日游（维多利亚游轮）品质纯玩团</a>
                    </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="newBanner">
      <div class="play_img">
        <a href="#" target="_bank">
          <img alt="" class="all_imgs" id="img_1" src="../images/1403837083.jpg" style="display: none;"></a>
        <a href="#" target="_bank">
          <img alt="绿色全友" class="all_imgs" id="img_2" src="../images/1403257017.jpg" style="display: none;">
        </a>
        <a href="#" target="_bank">
          <img alt="泰国六日品质游" class="all_imgs" id="img_3" src="../images/1396590471.jpg" style="display: none;">
        </a>
        <a href="#" target="_bank">
          <img alt="肯尼亚" class="all_imgs" id="img_4" src="../images/1403585096.jpg" style="display: none;">
        </a><a href="#" target="_bank">
        <img alt="世界杯竞猜" class="all_imgs" id="img_5" src="../images/1403582071.jpg" style="display: none;"></a>
        <a href="#" target="_bank">
          <img alt="港澳游提前报名住澳门" class="all_imgs" id="img_6" src="../images/1394592841.jpg" style="display: inline;"></a>
        <ul>
          <li id="li_1" class=""><a href="javascript:void(0)"></a></li>
          <li id="li_2" class=""><a href="javascript:void(0)"></a></li>
          <li id="li_3" class=""><a href="javascript:void(0)"></a></li>
          <li id="li_4" class=""><a href="javascript:void(0)"></a></li>
          <li id="li_5" class=""><a href="javascript:void(0)"></a></li>
          <li id="li_6" class="li_cur"><a href="javascript:void(0)"></a></li>
        </ul>
      </div>
    </div>


    <div class="clear"></div>
  </div>

  <div class="travel_sale">
    <h2 class="travel_Hd">
      <!---<a title="更多旅游特价" target="_blank" href="#">更多旅游特价>></a>-->
      <span class="travel_Hd_type travel_tj_type">促销活动</span>
      <span class="travel_Hd_msg">特实惠，真低价！</span>
    </h2>

    <div class="travel_Bd">
      <% @lunbos.each do |q| %>
          <ul class="travel_tj_list">
            <li>
              <div class="travel_tj_img">
                <a title="<%= q.title %>" target="_blank" href="<%= show_tejia_main_path(q) %>">
                  <%= image_tag q.avatar.url(:index1) %>
                </a>

                <div>
                  <p class="travel_tj_img_text">买2</p>

                  <p class="travel_tj_img_price">送1</p>
                </div>
              </div>

              <p class="travel_tj_msg">
                <a title="<%= q.title %>" target="_blank" href="<%= show_tejia_main_path(q) %>"><%= q.title %></a>
              </p>

              <p class="travel_tj_price">
                <del>原价:4199</del>
                <span><i>￥</i><%= q.price %></span>起
              </p>
            </li>
          </ul>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="clear"></div>
</div>

<div class="center">
<div class="hk_hot">
<h2 class="travel_Hd">
  <span class="travel_Hd_type travel_gt_type">港澳台热门旅游</span>
  <span class="travel_Hd_msg">品质港澳 超游特惠!</span>
</h2>

<div class="newChannel_Bd">
<div class="newChannel_left">
  <dl>
    <dt>
      <a target="_blank" href="#">香港游</a>
    </dt>
    <% @category_1_city.each do |q| %>
        <dd class="dd">
          <a target="_blank" href="#" title="<%= q.title %>"><%= q.title %></a>
        </dd>
    <% end %>
    <div class="clear"></div>
  </dl>
  <dl>
    <dt>
      <a target="_blank" href="#">澳门游</a>
    </dt>
    <% @category_2_city.each do |q| %>
        <dd class="dd">
          <a target="_blank" href="#" title="<%= q.title %>"><%= q.title %></a>
        </dd>
    <% end %>
    <div class="clear"></div>
  </dl>
  <dl>
    <dt>
      <a target="_blank" href="#">港澳游</a>
    </dt>
    <% @category_3_city.each do |q| %>
        <dd class="dd">
          <a target="_blank" href="#" title="<%= q.title %>"><%= q.title %></a>
        </dd>
    <% end %>
    <div class="clear"></div>
  </dl>

  <p class="newChannel_ad">
    <a href="#"><img alt="" src="../images/1377764781.gif" data-original="/uploads/userup/0/1377764781.gif" border="0"></a>
  </p>

  <p class="newChannel_ad">
    <a href="#"><img alt="" src="../images/1377748418.gif" data-original="/uploads/userup/0/1377748418.gif" border="0"></a>
  </p>

  <p class="newChannel_ad">
    <a href="#"><img alt="" src="../images/1377748431.gif" data-original="/uploads/userup/0/1377748431.gif" border="0"></a>
  </p>

</div>

<div class="newChannel_right">
<ul class="newChannel_tab">
  <li class="cur" id="hk_li1">香港精品游</li>
  <li id="hk_li2">港澳精品游</li>
  <li id="hk_li3">香港品质游</li>
  <li id="hk_li4" style="margin:0;">港澳品质游</li>
</ul>

<div class="newChannel_list visible" id="hk_div1">
  <% @hotdoor1.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="" target="_blank" href="<%= show_rm_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>

          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= show_rm_main_path(q) %>">
                <img alt="暑期特价" src="../images/sqtj.gif" style="margin-right: 3px;">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
                                	<span>
                                        满意度：
                                        <span class="n">98%</span>
                                    </span>
                                    <span class="pin">
                                        <span class="n"></span>
                                    </span>
                                    <span>
                                        更新时间：
                                        <span class="n"><%= my_datetime q.created_at %></span>
                                    </span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>
              起
            </p>
                                <span class="d">
                                	<em class="dsnum">50</em>
                                </span>
                                <span class="s">
                                	<em class="dsnum">200</em>
                                </span>
          </div>

          <div class="clear"></div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div2">
  <% @hotdoor2.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="" target="_blank" href="<%= show_rm_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>

          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= show_rm_main_path(q) %>">
                <img alt="暑期特价" src="../images/sqtj.gif" style="margin-right: 3px;">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
                                	<span>
                                        满意度：
                                        <span class="n">98%</span>
                                    </span>
                                    <span class="pin">
                                        <span class="n"></span>
                                    </span>
                                    <span>
                                        更新时间：
                                        <span class="n"><%= my_datetime q.created_at %></span>
                                    </span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>
              起
            </p>
                                <span class="d">
                                	<em class="dsnum">50</em>
                                </span>
                                <span class="s">
                                	<em class="dsnum">200</em>
                                </span>
          </div>

          <div class="clear"></div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div3">
  <% @hotdoor3.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="" target="_blank" href="<%= show_rm_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>

          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= show_rm_main_path(q) %>">
                <img alt="暑期特价" src="../images/sqtj.gif" style="margin-right: 3px;">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
                                	<span>
                                        满意度：
                                        <span class="n">98%</span>
                                    </span>
                                    <span class="pin">
                                        <span class="n"></span>
                                    </span>
                                    <span>
                                        更新时间：
                                        <span class="n"><%= my_datetime q.created_at %></span>
                                    </span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>
              起
            </p>
                                <span class="d">
                                	<em class="dsnum">50</em>
                                </span>
                                <span class="s">
                                	<em class="dsnum">200</em>
                                </span>
          </div>

          <div class="clear"></div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div4">
  <% @hotdoor4.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="" target="_blank" href="<%= show_rm_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>

          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= show_rm_main_path(q) %>">
                <img alt="暑期特价" src="../images/sqtj.gif" style="margin-right: 3px;">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
                                	<span>
                                        满意度：
                                        <span class="n">98%</span>
                                    </span>
                                    <span class="pin">
                                        <span class="n">5012</span>
                                        人赞
                                    </span>
                                    <span>
                                        更新时间：
                                        <span class="n"><%= my_datetime q.created_at %></span>
                                    </span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>
              起
            </p>
                                <span class="d">
                                	<em class="dsnum">50</em>
                                </span>
                                <span class="s">
                                	<em class="dsnum">200</em>
                                </span>
          </div>

          <div class="clear"></div>
        </li>
      </ul>
  <% end %>
</div>
</div>

<div class="clear"></div>
</div>

<!-- 这里后加一栏 -->
<div class="center">
  <div class="gd_hot dbfen">
    <h2 class="travel_Hd">
      <span class="travel_Hd_type travel_gt_type">特别板块</span>
      <span class="travel_Hd_msg">海外特别板块!</span>
    </h2>
    <%= render "comment/newlan" %>
  </div>
</div>

<!-- 这里后加一栏 -->
</div>
</div>
<center>
  <div class="guanggao">
    <a href="#"><img alt="游泰国1988元" src="../images/1402908101.jpg" data-original="../images/1402908101.jpg" border="0"></a>
  </div>
</center>

<div class="center">
<div class="cj_hot dbfen">
<h2 class="travel_Hd">
  <span class="travel_Hd_type travel_gt_type">出境热门旅游</span>
  <span class="travel_Hd_msg">豪华出境 专业无忧!</span>
</h2>

<div class="newChannel_Bd">
  <div class="newChannel_left">
    <dl>
      <dt>
        <a target="_blank" href="#">亚洲</a>
      </dt>
      <dd>

        <a title="普吉岛" target="_blank" href="#">普吉岛</a>

      </dd>
      <div class="clear"></div>
    </dl>
    <dl>
      <dt>
        <a target="_blank" href="#">非洲</a>
      </dt>
      <dd>

        <a title="肯尼亚" target="_blank" href="#">肯尼亚</a>

      </dd>
      <div class="clear"></div>
    </dl>
    <dl>
      <dt>
        <a target="_blank" href="#">美洲</a>
      </dt>
      <dd>

        <a title="加拿大" target="_blank" href="#">加拿大</a>

      </dd>
      <div class="clear"></div>
    </dl>
    <dl>
      <dt>
        <a target="_blank" href="#">澳洲</a>
      </dt>
      <dd>

        <a title="澳大利亚" target="_blank" href="#">澳大利亚</a>

      </dd>
      <div class="clear"></div>
    </dl>
  </div>

  <div class="newChannel_right">
    <ul class="newChannel_tab">
      <li class="cur" id="cj_li1">亚洲</li>
      <li id="cj_li2">非洲</li>
      <li id="cj_li3">美洲</li>
      <li id="cj_li4" style="margin:0;">澳洲</li>
    </ul>

    <div class="newChannel_list visible" id="cj_div1">
      <% @exithot1.each do |q| %>
          <ul>
            <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
              <a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a>
            </li>


          </ul>
          <div class="clear"></div>


          <div class="showLine">
            <a href="<%= show_chujing_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>

            <div>
              <p><a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a></p>

              <p>
                <span><b>￥<%= q.price %></b>起</span>
                <del>原价：5749</del>
              </p>
            </div>
          </div>
      <% end %>
    </div>

    <div class="newChannel_list" id="cj_div2">
      <% @exithot2.each do |q| %>
          <ul>
            <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
              <a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a>
            </li>


          </ul>
          <div class="clear"></div>


          <div class="showLine">
            <a href="#">
              <%= image_tag q.avatar.url(:index) %>
            </a>

            <div>
              <p><a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a></p>

              <p>
                <span><b>￥<%= q.price %></b>起</span>
                <del>原价：5749</del>
              </p>
            </div>
          </div>
      <% end %>
    </div>

    <div class="newChannel_list" id="cj_div3">
      <% @exithot3.each do |q| %>
          <ul>
            <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
              <a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a>
            </li>


          </ul>
          <div class="clear"></div>


          <div class="showLine">
            <a href="<%= show_chujing_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>

            <div>
              <p><a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a></p>

              <p>
                <span><b>￥<%= q.price %></b>起</span>
                <del>原价：5749</del>
              </p>
            </div>
          </div>
      <% end %>

    </div>

    <div class="newChannel_list" id="cj_div4">
      <% @exithot4.each do |q| %>
          <ul>
            <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
              <a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a>
            </li>


          </ul>
          <div class="clear"></div>


          <div class="showLine">
            <a href="<%= show_chujing_main_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>

            <div>
              <p><a href="<%= show_chujing_main_path(q) %>"><%= q.title %></a></p>

              <p>
                <span><b>￥<%= q.price %></b>起</span>
                <del>原价：5749</del>
              </p>
            </div>
          </div>
      <% end %>

    </div>
  </div>

  <div class="clear"></div>
</div>

</div>
</div>

<center>
  <div class="guanggao">
    <a href="#"><img alt="港澳同行地接" src="../images/1393816299.jpg" data-original="/uploads/userup/0/1393816299.jpg" border="0"></a>
  </div>
</center>

<div class="center">
<div class="gn_hot dbfen">
<h2 class="travel_Hd">
  <span class="travel_Hd_type travel_gt_type">国内热门旅游</span>
  <span class="travel_Hd_msg">领先国内 心动邂逅!</span>
</h2>

<div class="newChannel_Bd">
<div class="newChannel_left">
  <dl>
    <dt>
      <a target="_blank" href="#">国内热门旅游目的地</a>
    </dt>
    <% @onecities.each do |q| %>
        <dd>
          <a title="<%= q.title %>" target="_blank" href="#"><%= q.title %></a>
        </dd>
    <% end %>
    <div class="clear"></div>
  </dl>
</div>

<div class="newChannel_right">
<ul class="newChannel_tab">
  <li class="cur" id="gn_li1">华北</li>
  <li id="gn_li2">华南</li>
  <li id="gn_li3">华东</li>
  <li id="gn_li4">华中</li>
  <li id="gn_li5">西南</li>
  <li id="gn_li6" style="margin:0;">西北</li>
</ul>

<div class="newChannel_list visible" id="gn_div1">
  <% @domestic1.each do |q| %>
      <ul>

        <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
          <a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a>
        </li>

      </ul>
      <div class="clear"></div>


      <div class="showLine">
        <a href="<%= show_domestic_main_path(q) %>">
          <%= image_tag q.avatar.url(:index) %>
        </a>

        <div>
          <p><a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a></p>

          <p>
            <span><b>￥<%= q.price %></b>起</span>
            <del>原价：6530</del>
          </p>
        </div>
      </div>
  <% end %>

</div>

<div class="newChannel_list" id="gn_div2">
  <% @domestic2.each do |q| %>
      <ul>

        <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
          <a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a>
        </li>

      </ul>
      <div class="clear"></div>


      <div class="showLine">
        <a href="<%= show_domestic_main_path(q) %>">
          <%= image_tag q.avatar.url(:index) %>
        </a>

        <div>
          <p><a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a></p>

          <p>
            <span><b>￥<%= q.price %></b>起</span>
            <del>原价：6530</del>
          </p>
        </div>
      </div>
  <% end %>
</div>

<div class="newChannel_list" id="gn_div3">
  <% @domestic3.each do |q| %>
      <ul>

        <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
          <a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a>
        </li>

      </ul>
      <div class="clear"></div>


      <div class="showLine">
        <a href="<%= show_domestic_main_path(q) %>">
          <%= image_tag q.avatar.url(:index) %>
        </a>

        <div>
          <p><a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a></p>

          <p>
            <span><b>￥<%= q.price %></b>起</span>
            <del>原价：6530</del>
          </p>
        </div>
      </div>
  <% end %>
</div>

<div class="newChannel_list" id="gn_div4">
  <% @domestic4.each do |q| %>
      <ul>

        <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
          <a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a>
        </li>

      </ul>
      <div class="clear"></div>


      <div class="showLine">
        <a href="<%= show_domestic_main_path(q) %>">
          <%= image_tag q.avatar.url(:index) %>
        </a>

        <div>
          <p><a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a></p>

          <p>
            <span><b>￥<%= q.price %></b>起</span>
            <del>原价：6530</del>
          </p>
        </div>
      </div>
  <% end %>
</div>

<div class="newChannel_list" id="gn_div5">
  <% @domestic5.each do |q| %>
      <ul>

        <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
          <a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a>
        </li>

      </ul>
      <div class="clear"></div>


      <div class="showLine">
        <a href="<%= show_domestic_main_path(q) %>">
          <%= image_tag q.avatar.url(:index) %>
        </a>

        <div>
          <p><a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a></p>

          <p>
            <span><b>￥<%= q.price %></b>起</span>
            <del>原价：6530</del>
          </p>
        </div>
      </div>
  <% end %>

</div>

<div class="newChannel_list" id="gn_div6">
  <% @domestic6.each do |q| %>
      <ul>

        <li>
                        	<span class="dbfen_price">
                            	<span class="u">￥</span>
                                <span class="n"><%= q.price %></span>
                                起
                            </span>
          <a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a>
        </li>

      </ul>
      <div class="clear"></div>


      <div class="showLine">
        <a href="<%= show_domestic_main_path(q) %>">
          <%= image_tag q.avatar.url(:index) %>
        </a>

        <div>
          <p><a href="<%= show_domestic_main_path(q) %>"><%= q.title %></a></p>

          <p>
            <span><b>￥<%= q.price %></b>起</span>
            <del>原价：6530</del>
          </p>
        </div>
      </div>
  <% end %>
</div>
</div>

<div class="clear"></div>
</div>

</div>
</div>

<center>
  <div class="guanggao">

    <a href="#"><img alt="泰国" src="../images/1393816333.jpg" data-original="/uploads/userup/0/1393816333.jpg" border="0"></a>
  </div>
</center>
<!--------------------------------- 风向标 ----------------------------------->
<%= render "comment/fxb" %>
<!--------------------------------- 风向标end ----------------------------------->
<script type="text/javascript" src="../javascripts/default.js"></script>
<%= render "comment/footer" %>