<!--头部-->
<div class="top_adv"><a href="#" target="_bank"></a></div>
<div class="title">
  <div class="title_menu center">
    <ul>

      <% if @member_curr %>
          <font color="#FF0000">会员：《<%= @member_curr.name %>》，欢迎您来到海外旅行社，祝您旅途愉快</font>
          <a href="<%= logout_path %>">【退出】</a>
      <% else %>
          <li><a href="<%= signup_path %>">注册</a></li>
          <li>丨</li>
          <li><a href="<%= login_path %>">登陆</a></li>
          <li><a href="#">关于我们</a></li>
      <% end %>
    </ul>
    欢迎访问<a style="margin:0;" href="http://m.ccpxcm.com/travels" class="title_a">海外旅行社</a>
  </div>
</div>

<div id="head" class="top1 center">
<div class="logo"><a href="http://m.ccpxcm.com/travels">
  <img src="../images/logo.jpg"></a></div>
<div class="">
<div class="newTop-search">
  <span class="newTop-search-s1 fn-left"></span>
</div>
<ul class="toolNav">
<li id="itineraries">
  <a href="#" class="">旅游线路</a>
  <ul class="subNav" style="display: none;">
    <li><h6><a href="#" target="_blank" class="">港澳台</a></h6>

      <a href="#" target="_blank" class="">香港</a>

      <a href="#" target="_blank" class="">香港</a>

      <a href="#" target="_blank" class="">香港</a>

    </li>
    <li>
      <h6><a href="#" target="_blank" class="">国内</a></h6>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>


      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

      <a href="#" target="_blank" class="">长春</a>

    </li>
    <li>
      <h6><a href="#" target="_blank" class="">长春市</a></h6>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

      <a href="#" target="_blank" class="">净月</a>

    </li>
    <li>
      <h6><a href="#" target="_blank" class="">亚洲</a></h6>

      <a href="#" target="_blank" class="">日本</a>

      <a href="#" target="_blank" class="">韩国</a>

      <a href="#" target="_blank" class="">朝鲜</a>

    </li>
    <li>
      <h6><a href="#" target="_blank" class="">欧洲</a></h6>

      <a href="#" target="_blank" class="">意大利</a>

      <a href="#" target="_blank" class="">意大利</a>

      <a href="#" target="_blank" class="">意大利</a>

      <a href="#" target="_blank" class="">意大利</a>

      <a href="#" target="_blank" class="">意大利</a>

      <a href="#" target="_blank" class="">意大利</a>

      <a href="#" target="_blank" class="">意大利</a>

    </li>
    <li>
      <h6><a href="#" target="_blank" class="">非洲</a></h6>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

    </li>
    <li>
      <h6><a href="#" target="_blank" class="">美洲</a></h6>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">加拿大</a>

    </li>
  </ul>
</li>

<li id="travelGuide">
  <a href="#">旅游攻略</a>
  <ul class="subNav" style="display: none; ">
    <li>
      <h6><a href="#" target="_blank">港澳攻略</a></h6>

      <a href="#" target="_blank" class="">香港</a>

      <a href="#" target="_blank" class="">澳门</a>

      <a href="#" target="_blank" class="">吃货</a>

    </li>
    <li>
      <h6><a href="#" target="_blank">国内攻略</a></h6>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">凤凰</a>

      <a href="#" target="_blank" class="">九寨沟</a>

      <a href="#" target="_blank" class="">厦门</a>

      <a href="#" target="_blank" class="">西藏</a>

    </li>
    <li>
      <h6><a href="#" target="_blank">广东攻略</a></h6>

      <a href="#" target="_blank" class="">清远</a>

      <a href="#" target="_blank" class="">深圳</a>

      <a href="#" target="_blank" class="">肇庆</a>

      <a href="#" target="_blank" class="">珠海</a>

    </li>

    <li>
      <h6><a href="#" target="_blank">出境攻略</a></h6>

      <a href="#" target="_blank" class="">泰国</a>

      <a href="#" target="_blank" class="">长滩岛</a>

      <a href="#" target="_blank" class="">马尔代夫</a>

      <a href="#" target="_blank" class="">台湾</a>

    </li>
  </ul>
</li>
<li id="touristAttractions">
  <a href="#">旅游景点</a>
  <ul class="subNav" style="display: none; ">
    <li>
      <h6><a href="#" target="_blank">国内</a></h6>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">北京</a>

    </li>
    <li>
      <h6><a href="#" target="_blank">亚洲</a></h6>

      <a href="#" target="_blank" class="">日本</a>

      <a href="#" target="_blank" class="">韩国</a>

      <a href="#" target="_blank" class="">印度尼西亚</a>

      <a href="#" target="_blank" class="">台湾</a>

      <a href="#" target="_blank" class="">泰国</a>


    </li>

    <li>
      <h6><a href="#" target="_blank">欧洲</a></h6>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

      <a href="#" target="_blank" class="">法国</a>

    </li>
    <li>
      <h6><a href="#" target="_blank">非洲</a></h6>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

      <a href="#" target="_blank" class="">迪拜</a>

    </li>
    <li>
      <h6><a href="#" target="_blank">美洲</a></h6>

      <a href="#" target="_blank" class="">墨西哥</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">美国</a>

      <a href="#" target="_blank" class="">墨西哥</a>

      <a href="#" target="_blank" class="">加拿大</a>

      <a href="#" target="_blank" class="">美国</a>

    </li>
  </ul>

</li>
<li id="landscapePictures">
  <a href="#">风景图片</a>
  <ul class="subNav" style="display: none; ">
    <li>

      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">上海</a>

      <a href="#" target="_blank" class="">海南</a>

      <a href="#" target="_blank" class="">桂林</a>
      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">上海</a>

      <a href="#" target="_blank" class="">海南</a>

      <a href="#" target="_blank" class="">桂林</a>
      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">上海</a>

      <a href="#" target="_blank" class="">海南</a>

      <a href="#" target="_blank" class="">桂林</a>
      <a href="#" target="_blank" class="">北京</a>

      <a href="#" target="_blank" class="">上海</a>

      <a href="#" target="_blank" class="">海南</a>

      <a href="#" target="_blank" class="">桂林</a>

    </li>
  </ul>
</li>
<li id="businessTravelServices">
  <a href="#" class="">商务服务</a>
  <ul class="subNav" style="display: none;">
    <li>

      <a href="#" target="_blank" class="">亚洲签证</a>

      <a href="#" target="_blank" class="">欧洲签证</a>

      <a href="#" target="_blank" class="">非洲签证</a>

      <a href="#" target="_blank" class="">澳洲签证</a>

      <a href="#" target="_blank" class="">美洲签证</a>

      <a href="#" target="_blank" class="">案例分析</a>

      <a href="#" target="_blank" class="">行业新闻</a>

      <a href="#" target="_blank" class="">培训课程</a>

      <a href="#" target="_blank" class="">领馆动态</a>

      <a href="#" target="_blank" class="">注意事项</a>

      <a href="#" target="_blank" class="">签证资讯</a>

    </li>
  </ul>
</li>
<li id="conferenceTourism">
  <a href="#">酒店展示</a>
  <ul class="subNav" style="display: none; ">
    <li>

      <a href="#" target="_blank" class="">香港酒店</a>

      <a href="#" target="_blank" class="">国内酒店</a>

      <a href="#" target="_blank" class="">国际酒店</a>

      <a href="#" target="_blank" class="">澳门</a>

    </li>
  </ul>
</li>
</ul>

</div>

<script type="text/javascript">
    $(function () {
        $(".toolNav").children("li").bind({
            mouseover: function () {
                $(this).children(".subNav").show();
                $(this).children("a").addClass("current");
            }, mouseout: function () {

                $(this).children(".subNav").hide();
                $(this).children("a").removeClass("current");
            }
        });
    });
</script>

</div>

<div class="nav">
  <div class="center">

    <ul class="nav_menu">
      <li><a href="/">首页</a></li>

      <li><a href="<%= destination_one_index_path %>">美国旅游</a></li>

      <li><a href="<%= destination_two_index_path %>">英国旅游</a></li>

      <li><a href="<%= destination_three_index_path %>">法国旅游</a></li>

      <li><a href="<%= destination_four_index_path %>">俄国旅游</a></li>

      <li><a href="<%= destination_five_index_path %>">韩国旅游</a></li>

      <li><a href="<%= destination_six_index_path %>">国内旅游</a></li>

      <li><a href="<%= destination_seven_index_path %>">长春旅游</a></li>

      <li><a href="<%= destination_eight_index_path %>">长春周边游</a></li>

    </ul>
  </div>
</div>
<div class="center">
  <p class="hot_tour">
    <span class="first_span"><font color="red">最新公告:</font></span>

    <marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="1" scrolldelay="7" direction="left" width="920" height="20" style="line-height: 19px;">
      <% @jobs.each do |q| %>
          <a><%= q.title %></a>
      <% end %>
    </marquee>
  </p>
</div>