<link rel="stylesheet" href="../stylesheets/layout_index.css" type="text/css">
<img border="0" height="40" src="../images/index_19.jpg" style="float: left;" usemap="#Mapa3" width="990">
<map name="Mapa3">
  <area coords="238,17,296,37" href="#" shape="rect">
  <area coords="541,19,603,38" href="#" shape="rect">
  <area coords="842,18,904,38" href="#" shape="rect">
</map>
<div id="box_main_sub8">
  <div id="box_main_sub8_sub1">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-04" name="商品列表">
      <!-- 装饰器样式开始 -->
      <ul>
        <br/><br/><br/><br/><br/><br/><br/>
        <% @jingdians1.each do |q| %>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#"><%= q.title %></a>
              <span class="dbfen_price">
                <span class="u">￥</span>
                <span class="jingdian"><%= q.price %></span>起
              </span>
              <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br/>
              <br/>
            </li>
        <% end %>
      </ul>
      <!-- 装饰器样式结束 -->
    </div>
  </div>
  <div id="box_main_sub8_sub2">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-05" name="商品列表">
      <!-- 装饰器样式开始 -->
      <ul>
        <br/><br/><br/><br/><br/><br/><br/>
        <% @jingdians2.each do |q| %>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#"><%= q.title %></a>
              <span class="dbfen_price">
                <span class="u">￥</span>
                <span class="jingdian"><%= q.price %></span>起
              </span>
              <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br/>
              <br/>
            </li>
        <% end %>
      </ul>

      <!-- 装饰器样式结束 -->
    </div>
  </div>
  <div id="box_main_sub8_sub3">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-06" name="商品列表">
      <!-- 装饰器样式开始 -->
      <ul>
        <br/><br/><br/><br/><br/><br/><br/>
        <% @jingdians3.each do |q| %>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#"><%= q.title %></a>
              <span class="dbfen_price">
                <span class="u">￥</span>
                <span class="jingdian"><%= q.price %></span>起
              </span>
              <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br/>
              <br/>
            </li>
        <% end %>
      </ul>

      <!-- 装饰器样式结束 -->
    </div>
  </div>
  <div class="clearBoth"></div>
</div>
<!-- 第二 -->
<img border="0" height="40" src="../images/index_23.jpg" style="float: left;" usemap="#Mapa3" width="990">
<map name="Mapa3">
  <area coords="238,17,296,37" href="#" shape="rect">
  <area coords="541,19,603,38" href="#" shape="rect">
  <area coords="842,18,904,38" href="#" shape="rect">
</map>
<div id="box_main_sub8">
  <div id="box_main_sub8_sub1">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-04" name="商品列表">
      <!-- 装饰器样式开始 -->
      <ul>
        <br/><br/><br/><br/><br/><br/><br/>
        <% @jingdians4.each do |q| %>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#"><%= q.title %></a>
              <span class="dbfen_price">
                <span class="u">￥</span>
                <span class="jingdian"><%= q.price %></span>起
              </span>
              <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br/>
              <br/>
            </li>
        <% end %>
      </ul>

      <!-- 装饰器样式结束 -->
    </div>
  </div>
  <div id="box_main_sub8_sub2">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-05" name="商品列表">
      <!-- 装饰器样式开始 -->
      <ul>
        <br/><br/><br/><br/><br/><br/><br/>
        <% @jingdians5.each do |q| %>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#"><%= q.title %></a>
              <span class="dbfen_price">
                <span class="u">￥</span>
                <span class="jingdian"><%= q.price %></span>起
              </span>
              <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br/>
              <br/>
            </li>
        <% end %>
      </ul>

      <!-- 装饰器样式结束 -->
    </div>
  </div>
  <div id="box_main_sub8_sub3">
    <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-06" name="商品列表">
      <!-- 装饰器样式开始 -->
      <ul>
        <br/><br/><br/><br/><br/><br/><br/>
        <% @jingdians6.each do |q| %>
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#"><%= q.title %></a>
              <span class="dbfen_price">
                <span class="u">￥</span>
                <span class="jingdian"><%= q.price %></span>起
              </span>
              <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br/>
              <br/>
            </li>
        <% end %>
      </ul>

      <!-- 装饰器样式结束 -->
    </div>
  </div>
  <div class="clearBoth"></div>
</div>