<%= render "comment/hear" %>
<div class="center">
<div class="channel_side fn-left">
  <div class="side_hot">
    <h3 class="side_title"> 港澳游导航</h3>

    <div class="line_list">
      <dl>
        <dt class="t">
          <a title="港澳旅游">港澳旅游</a>
        </dt>

        <% @category_1_city.each do |q| %>
            <dd class="dd">
              <a href="<%= xianggang_cities_path %>"><%= q.title %></a>
            </dd>
        <% end %>

        <div class="clear"></div>
      </dl>
    </div>
  </div>

  <div class="little_banner">
    <img src="../images/cj_xiaotu.gif" data-original="/pics/cj_xiaotu.gif" width="270" height="96" style="display: inline;">
  </div>

  <div class="new_gonglue">
    <h3>最新攻略动态</h3>

    <div class="gonglue_img">
      <a href="#"><img src="../images/gongl1.gif" data-original="/pics/gongl1.gif" style="display: inline;"></a>
      <a href="#"><img src="../images/gongl2.gif" data-original="/pics/gongl2.gif" style="display: inline;"></a>
    </div>

    <% @gonglues.each do |q| %>
        <ul class="gonglue_list">
          <li>・ <a href="<%= show_raider_main_path(q) %>"><%= q.title %></a></li>
        </ul>
    <% end %>
  </div>
</div>

<div class="side_right fn-right">
<div class="play_img">
  <a href="http://www.xkcits.com/chujing/4763.html">
    <img alt="游泰国1988元" class="all_imgs" id="img_1" src="../images/1402907041.jpg" style="display: none;">
  </a>

  <a href="http://www.xkcits.com/chujing/4765.html">
    <img alt="巴厘岛6天4晚乐享休闲游" class="all_imgs" id="img_2" src="../images/1395648557.jpg" style="display: inline;">
  </a>
  <a href="http://www.xkcits.com/chujing/4762.html">
    <img alt="美景新马泰十日品质游" class="all_imgs" id="img_3" src="../images/1395648685.jpg" style="display: none;">
  </a>
  <a href="http://www.xkcits.com/chujing/4764.html">
    <img alt="新马5日游" class="all_imgs" id="img_4" src="../images/1395648945.jpg" style="display: none;">
  </a>
</div>

<div class="travel_sale" style="height:auto; padding-bottom:10px;">
  <h2 class="travel_Hd">
    <span class="travel_Hd_type travel_tj_type">特价旅游</span>
    <span class="travel_Hd_msg">特实惠，真低价！</span>
  </h2>

  <div class="tj_chujing">
    <ul class="cj_tj_list cfix">
      <% @lunbos.each do |q| %>
          <li>
            <a target="_blank" href="" title="<%= q.title %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>

            <h3><a href="<%= show_tejia_main_path(q) %>"><%= q.title %></a></h3>

            <div class="cj_tj_price">
              <span><i>￥<em><%= q.price %></em></i>/人起</span>
              <a href="<%= show_tejia_main_path(q) %>"></a>
            </div>
            <div class="cj_tj_yh"><span>限时特价</span></div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="hk_hot">
<h2 class="travel_Hd">
  <span class="travel_Hd_type travel_gt_type">港澳热门旅游推荐</span>
  <span class="travel_Hd_msg">豪华出境 专业无忧！</span>
</h2>

<div class="newChannel_Bd">

<div class="newChannel_right">
<ul class="newChannel_tab">
  <li class="cur" id="hk_li1">热门</li>
  <li id="hk_li2">香港</li>
  <li id="hk_li3">澳门</li>
  <li id="hk_li4">大炮台</li>
  <li id="hk_li5">豪华游</li>
  <li id="hk_li6">迪士尼乐园</li>
  <li id="hk_li7">主教山</li>
  <li id="hk_li8" style="margin:0; width:84px;">玫瑰圣母堂</li>
</ul>

<div class="newChannel_list visible" id="hk_div1">
  <% @recommend.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">98%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>
<div class="newChannel_list" id="hk_div2">
  <% @recommend1.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">98%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div3">
  <% @recommend2.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">98%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div4">
  <% @recommend3.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">98%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div5">
  <% @recommend4.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">99%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div6">
  <% @recommend5.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">98%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div7">
  <% @recommend6.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">98%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

<div class="newChannel_list" id="hk_div8">
  <% @recommend7.each do |q| %>
      <ul>
        <li class="lineitem">
          <div class="img fn-left">
            <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
              <%= image_tag q.avatar.url(:index) %>
            </a>
          </div>
          <dl class="info fn-left">
            <dt class="t">
              <a title="<%= q.title %>" target="_blank" href="<%= gangao_destination_one_path(q) %>">
                <%= q.title %>
              </a>
            </dt>
            <dd class="desc"><%= truncate_u(q.description, 20).html_safe %></dd>
            <dd class="moredesc">
              <span>满意度：<span class="n">99%</span></span>
              <span class="pin"><span class="n">5012</span>人赞</span>
              <span>更新时间：<span class="n"><%= my_datetime q.created_at %></span></span>
            </dd>
          </dl>

          <div class="detail fn-right">
            <span class="sup">双重优惠</span>

            <p class="price">
              <span class="u">￥</span>
              <span class="n"><%= q.price %></span>起
            </p>
            <span class="d"><em class="dsnum">50</em></span>
            <span class="s"><em class="dsnum">200</em></span>
          </div>
        </li>
      </ul>
  <% end %>
</div>

</div>
</div>

<div class="big_banner">
  <img src="../images/cj_banner.jpg" data-original="/pics/cj_banner.jpg" style="display: inline;">
</div>

<div class="tuan_hot dbfen">
  <h2 class="travel_Hd">
    <span class="travel_Hd_type travel_gt_type">跟团游热门地区</span>
    <span class="travel_Hd_msg">精挑细选，让您轻松出游！</span>
  </h2>

  <div class="newChannel_Bd">
    <div class="newChannel_right">
      <ul class="newChannel_tab">
        <li class="cur" id="tu_li1">香港</li>
        <li id="tu_li2">澳门</li>
        <li id="tu_li3">台湾</li>
        <li id="tu_li4">未知</li>
        <li id="tu_li5">未知</li>
        <li id="tu_li6" style="margin:0;">未知</li>
      </ul>

      <div class="newChannel_list visible" id="tu_div1">
        <% @gentuan1.each do |q| %>
            <ul>
              <li>
                                <span class="dbfen_price">
                                    <span class="u">￥</span>
                                    <span class="n"><%= q.price %></span>
                                    起
                                </span>
                <a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %>（CI）</a>
              </li>


            </ul>
            <div class="clear"></div>

            <div class="showLine">
              <a href="<%= gentuan_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：11799</del>
                </p>
              </div>

            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="tu_div2">
        <% @gentuan2.each do |q| %>
            <ul>
              <li>
                                <span class="dbfen_price">
                                    <span class="u">￥</span>
                                    <span class="n"><%= q.price %></span>
                                    起
                                </span>
                <a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %>（CI）</a>
              </li>


            </ul>
            <div class="clear"></div>

            <div class="showLine">
              <a href="<%= gentuan_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：11799</del>
                </p>
              </div>

            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="tu_div3">
        <% @gentuan3.each do |q| %>
            <ul>
              <li>
                                <span class="dbfen_price">
                                    <span class="u">￥</span>
                                    <span class="n"><%= q.price %></span>
                                    起
                                </span>
                <a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %>（CI）</a>
              </li>


            </ul>
            <div class="clear"></div>

            <div class="showLine">
              <a href="<%= gentuan_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：11799</del>
                </p>
              </div>

            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="tu_div4">
        <% @gentuan4.each do |q| %>
            <ul>
              <li>
                                <span class="dbfen_price">
                                    <span class="u">￥</span>
                                    <span class="n"><%= q.price %></span>
                                    起
                                </span>
                <a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %>（CI）</a>
              </li>


            </ul>
            <div class="clear"></div>

            <div class="showLine">
              <a href="<%= gentuan_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：11799</del>
                </p>
              </div>

            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="tu_div5">
        <% @gentuan5.each do |q| %>
            <ul>
              <li>
                                <span class="dbfen_price">
                                    <span class="u">￥</span>
                                    <span class="n"><%= q.price %></span>
                                    起
                                </span>
                <a href="<%= gentuan_destination_one_path(q) %>"><%= q.title %>（CI）</a>
              </li>


            </ul>
            <div class="clear"></div>

            <div class="showLine">
              <a href="<%= gentuan_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="#"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：11799</del>
                </p>
              </div>

            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="tu_div6">

      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>


<div class="ziyou_hot dbfen">
  <h2 class="travel_Hd">
    <span class="travel_Hd_type travel_gt_type">港澳台自由行</span>
    <span class="travel_Hd_msg">机票+酒店，行程自由安排！</span>
  </h2>

  <div class="newChannel_Bd">
    <div class="newChannel_right">
      <ul class="newChannel_tab">
        <li class="cur" id="zy_li1">香港</li>
        <li id="zy_li2">澳门</li>
        <li id="zy_li3">台湾</li>
        <li id="zy_li4">未知</li>
        <li id="zy_li5" style="margin:0; width:139px;">未知</li>
      </ul>


      <div class="newChannel_list visible" id="zy_div1">
        <% @freeline1.each do |q| %>
            <ul>
              <li>
                <span class="dbfen_price">
                  <span class="u">￥</span><span class="n"><%= q.price %></span>起
                </span>
                <a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a>
              </li>
            </ul>
            <div class="showLine">
              <a href="<%= ziyouxing_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：16400</del>
                </p>
              </div>
            </div>
        <% end %>
      </div>


      <div class="newChannel_list" id="zy_div2">
        <% @freeline2.each do |q| %>
            <ul>
              <li>
                <span class="dbfen_price">
                  <span class="u">￥</span><span class="n"><%= q.price %></span>起
                </span>
                <a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a>
              </li>
            </ul>
            <div class="showLine">
              <a href="<%= ziyouxing_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：16400</del>
                </p>
              </div>
            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="zy_div3">
        <% @freeline3.each do |q| %>
            <ul>
              <li>
                <span class="dbfen_price">
                  <span class="u">￥</span><span class="n"><%= q.price %></span>起
                </span>
                <a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a>
              </li>
            </ul>
            <div class="showLine">
              <a href="<%= ziyouxing_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：16400</del>
                </p>
              </div>
            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="zy_div4">
        <% @freeline4.each do |q| %>
            <ul>
              <li>
                <span class="dbfen_price">
                  <span class="u">￥</span><span class="n"><%= q.price %></span>起
                </span>
                <a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a>
              </li>
            </ul>
            <div class="showLine">
              <a href="<%= ziyouxing_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：16400</del>
                </p>
              </div>
            </div>
        <% end %>
      </div>

      <div class="newChannel_list" id="zy_div5">
        <% @freeline5.each do |q| %>
            <ul>
              <li>
                <span class="dbfen_price">
                  <span class="u">￥</span><span class="n"><%= q.price %></span>起
                </span>
                <a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a>
              </li>
            </ul>
            <div class="showLine">
              <a href="<%= ziyouxing_destination_one_path(q) %>">
                <%= image_tag q.avatar.url(:index) %>
              </a>

              <div>
                <p><a href="<%= ziyouxing_destination_one_path(q) %>"><%= q.title %></a></p>

                <p>
                  <span><b>￥<%= q.price %></b>起</span>
                  <del>原价：16400</del>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

</div>
</div>
<div class="clear"></div>
</div>
<%= render "comment/footer" %>