<script>
    <% if flash[:note]%>
    alert('<%=flash[:note]%>');
    <% end%>
</script>
<div>
  <ul class="breadcrumb">
    <li>
      <a href="#">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="<%= admin_one_cities_path %>"> 世界游管理</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="<%= admin_one_city_jingdians_path %>">海外经典管理</a> <span class="divider">/</span>
    </li>
    <li>
      新建海外经典
    </li>
  </ul>
</div>
<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div class="box-header well" data-original-title="">
      <h2><i class="icon-edit"></i> 新建海外经典</h2>
    </div>
    <div class="box-content">
      <%= form_for(:jingdian, :url => admin_one_city_jingdians_path, :method => :post, :html => {:id => "verifytitle"}) do |f| %>
          <legend>新建海外经典</legend>
          <%= hidden_field_tag :one_city_id, @parent_id%>
          <%= f.label "海外经典：" %>
          <%= f.text_field :title %>
          <%= f.label "价格：" %>
          <%= f.text_field :price %>
          <%= f.label "海外经典内容：" %>
          <%= f.cktext_area :description, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">完成提交</button>
          </div>
      <% end %>
    </div>
  </div>
  <!--/span-->
</div>
<script src="/admin/js/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#verifytitle").validate({
                rules: {
                    "jingdian[title]": {
                        required: true
                    },
                    "jingdian[price]": {
                        required: true
                    },
                    "jingdian[description]": {
                        required: true
                    }
                },
                messages: {
                    "jingdian[title]": {
                        required: "“请填写标题”"
                    },
                    "jingdian[price]": {
                        required: "“请填写价格”"
                    },
                    "jingdian[description]": {
                        required: "“请填写内容”"
                    }
                },
                errorClass: "error",
                highlight: function (element, errorClass) {
                    $(element).parent().parent().addClass(errorClass);
                },
                unhighlight: function (element, errorClass) {
                    $(element).parent().parent().removeClass(errorClass);
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                },
                errorElement: "span"
            });
        });
    });
    $(document).ready(function () {
        $('form[data-remote]').bind('ajax:before', function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        });
    });
</script>