<script>
    <% if flash[:note]%>
    alert('<%=flash[:note]%>');
    <% end%>
</script>
<div>
  <ul class="breadcrumb">
    <li>
      <a href="#">Home</a> <span class="divider">/</span>
    </li>
    <li>
      导航栏四
    </li>
  </ul>
</div>
<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header well" data-original-title>
      <h2><i class="icon-list-alt"></i> 导航栏：功能管理</h2>
    </div>
    <div class="box-content">
      <div class="form-actions">
        <div style="float: left">
          <%= link_to '添加轮播', new_admin_destination_one_path, :class => "btn btn-primary" %>
          <%= link_to '添加特价旅游 ', new_admin_destination_one_path, :class => "btn btn-primary" %><br/><br/>
          <%= link_to '添加最新攻略动态 ', new_admin_destination_one_path, :class => "btn btn-primary" %>
          <%= link_to '添加出境热门旅游推荐', new_admin_destination_one_path, :class => "btn btn-primary" %>
          <%= link_to '添加跟团游热门地区', new_admin_destination_one_path, :class => "btn btn-primary" %><br/><br/>
          <%= link_to '添加出境自由行 ', new_admin_destination_one_path, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <!--/span-->
</div><!--/row-->